{% extends "base.html" %}


{% block content %}
<header style="background-image: url('https://img.freepik.com/free-photo/restaurant-interior_1127-3394.jpg?w=1380&t=st=1736782031~exp=1736785631~hmac=b9645dc3007bbdd8576a3f0fcd28cf3b275b17130a49e62b6ed4851ca05754fa'); background-size: cover; background-position: center; background-repeat: no-repeat; height: 400px; color: white; display: flex; justify-content: center; align-items: center;">
    <div class="text-center">
        <h1 class="display-4 fw-bolder">About Us</h1>
    </div>
</header>
<div class="container my-5">
    <div class="row">
        <div class="col-md-12 text-center">
            <h2>Welcome to Cozy Corner Restaurant</h2>
            <p class="mt-3">
                At Cozy Corner Restaurant, we believe in bringing people together through food. Our chefs craft each dish with care, combining fresh, locally sourced ingredients with timeless recipes. From family dinners to special celebrations, we strive to make every visit memorable.
            </p>
            <p>
                With a commitment to excellence, we offer a menu that caters to diverse tastes—whether you're in the mood for traditional cuisine, modern favorites, or something in between. Come and savor the flavors of joy at Cozy Corner Restaurant.
            </p>
        </div>
    </div>
</div>
{% endblock %}


