{% from "bootstrap5/form.html" import render_form %}
{% extends "base.html" %}
{% block content %}

<header style="background-image: url('https://img.freepik.com/free-vector/gradient-background-with-bokeh-effect_23-2148378181.jpg?t=st=1736777193~exp=1736780793~hmac=0bdba0b4661aeb96d7a4fa8c595380e7aaf5f92a76a4afd478d3c3d73f8cc2b5&w=996'); background-size: cover; background-position: center; background-repeat: no-repeat; height: 400px; color: white; display: flex; justify-content: center; align-items: center; margin-top: 50px;">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-black">
            <h1 class="display-4 fw-bolder">Set New Password</h1>
        </div>
    </div>
</header>

<main class="mb-4 mt-4">
  <div class="container">
    <div class="row">

        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <p class="flash" style="color: red;">{{ message }}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}

      <div class="col-lg-8 col-md-10 mx-auto">
          <!-- New password (new password and confirm password) -->
          <form method="POST" action="{{ url_for('new_password') }}">
            {{ render_form(new_password_form, novalidate=True) }}  <!-- Reset password form -->
          </form>

      </div>
    </div>
  </div>
</main>


{% endblock %}